doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
        // Nucleo Icons
        link(rel="stylesheet" href="css/nucleo-icons.css")
        link(rel="stylesheet" href="css/nucleo-svg.css")
        // Font Awesome Icons
        link(rel="stylesheet" href="css/font-awesome.css")
        link(rel="stylesheet" href="css/argon-design-system.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
    body
        .wrapper


            .section.features-2 
                .container 
                    .row.align-items-center 
                        .col-lg-4.col-md-8.mr-auto.text-left 
                            .pr-md-5 
                                .icon.icon-lg.icon-shape.icon-shape-primary.shadow.rounded-circle.mb-5 
                                    i.ni.ni-favourite-28 
                                h3 Cost Effective Solutions
                                p We are a software development company creating world-class user experiences across web, Android, and iPhone apps.
                                ul.list-unstyled.mt-5 
                                    li.py-2 
                                        .d-flex.align-items-center 
                                            div
                                                .badge.badge-circle.badge-primary.mr-3 
                                                    i.ni.ni-settings-gear-65 
                                            div
                                                h6.mb-0 Carefully crafted components
                                    li.py-2 
                                      .d-flex.align-items-center 
                                          div
                                              .badge.badge-circle.badge-primary.mr-3 
                                                i.ni.ni-html5 
                                          div
                                              h6.mb-0 Amazing page examples
                                    li.py-2 
                                        .d-flex.align-items-center 
                                            div
                                              .badge.badge-circle.badge-primary.mr-3 
                                                  i.ni.ni-satisfied 
                                            div
                                                h6.mb-0 Super friendly support team
                        .col-lg-7.col-md-12.pl-md-0 
                            .row 
                                .col-lg-4.col-md-4
                                    .info.text-left.bg-info.shadow 
                                        .icon.icon-shape.bg-gradient-white.shadow.rounded-circle.text-primary 
                                            i.ni.ni-satisfied.text-info 
                                        h5.info-title.text-white Best Quality
                                        p.description We provide top-notch applications. Custom made for you and according to  your needs.
                                .col-lg-4.col-md-4
                                    .info.text-left.bg-danger.info-raised.shadow 
                                        .icon.icon-shape.bg-gradient-white.shadow.rounded-circle.text-primary 
                                            i.ni.ni-palette.text-danger 
                                        h5.info-title.text-white Awesome Design
                                        p.description We have a vast range of stacks to choose from and developers from all fields. We provide awesome design patterns.
                                .col-lg-4.col-md-4
                                    .info.text-left.bg-default.shadow 
                                        .icon.icon-shape.bg-gradient-white.shadow.rounded-circle.text-primary 
                                            i.ni.ni-spaceship.text-default 
                                        h5.info-title.text-white Great Performance
                                        p.description We have a vast range of stacks to choose from and developers from all fields. We provide awesome design patterns.
                            .row 
                                .col-lg-4.col-md-4
                                    .info.text-left.bg-primary.shadow 
                                        .icon.icon-shape.bg-gradient-white.shadow.rounded-circle.text-primary 
                                            i.ni.ni-planet.text-primary 
                                        h5.info-title.text-white Fast Development
                                        p.description We have a vast range of stacks to choose from and developers from all fields. We provide awesome design patterns.
                                .col-lg-4.col-md-4
                                    .info.text-left.bg-warning.info-raised.shadow 
                                        .icon.icon-shape.bg-gradient-white.shadow.rounded-circle.text-primary 
                                            i.ni.ni-glasses-2.text-warning 
                                        h5.info-title.text-white Super Fresh
                                        p.description We have a vast range of stacks to choose from and developers from all fields. We provide awesome design patterns.
                                .col-lg-4.col-md-4
                                    .info.text-left.bg-success.shadow 
                                        .icon.icon-shape.bg-gradient-white.shadow.rounded-circle.text-primary 
                                            i.ni.ni-notification-70.text-success 
                                        h5.info-title.text-white Organized Content
                                        p.description We have a vast range of stacks to choose from and developers from all fields. We provide awesome design patterns.


            section.blogs-2.py-6
                .container-fluid
                    .row.mb-md-5
                        .col-md-8.mx-auto
                            h3.display-3.text-center Our recent products
                            p.lead.text-center We have been working with leading brands and companies, providing cutting-edge custom IT solutions for web and mobile platforms.
                    
                    .row
                        .col-lg-3
                            .card.card-blog.card-background(data-animation="zooming")
                                .full-background(style="background-image: url('images/unnamed.webp')")
                                a(href="javascript:;")
                                    .card-body
                                        .content-bottom
                                            h6.card-category.text-white.opacity-8 Karma Pluss
                                            h5.card-title Recycle Solution
                        
                        .col-lg-3
                            .card.card-blog.card-background(data-animation="zooming")
                                .full-background(style="background-image: url('images/download-2.jfif')")
                                a(href="javascript:;")
                                    .card-body
                                        .content-bottom
                                            h6.card-category.text-white.opacity-8 KMS Chit Fund
                                            h5.card-title Mutual Funds
                        
                        .col-lg-3
                            .card.card-blog.card-background(data-animation="zooming")
                                .full-background(style="background-image: url('argon_placeholder/sections/odin.jpg')" )
                                a(href="javascript:;")
                                    .card-body
                                        .content-bottom
                                            h6.card-category.text-white.opacity-8 ML Project
                                            h5.card-title Machine Learning
                        
                        .col-lg-3
                            .card.card-blog.card-background(data-animation="zooming")
                                .full-background(style="background-image: url('images/download-1.jfif')")
                                a(href="javascript:;")
                                    .card-body
                                        .content-bottom
                                            h6.card-category.text-white.opacity-8 Drone designs
                                            h5.card-title Driverless Future
                

            section.section.team-1
                .container
                    .row
                        .col-md-8.ml-auto.mr-auto.text-center
                            h3.display-3 Our Awesome Team
                            p.lead With our expert &amp; dedicated team, we can transform your business with our latest technological approach, skills and dedication towards your need. We serve all kind of industry like Real Estate, Online Booking, Online Education and Health Care and etc.
                    .row
                        .carousel.slide.carousel-team(id="carouselExampleControls")
                            .carousel-inner
                                .carousel-item.active
                                    .container
                                        .row
                                            .col-md-5.p-5
                                                .p-4
                                                    img.rounded.shadow.transform-perspective-left(src="images/picasso.png" alt="First slide")
                                            .col-md-7
                                                .wrapper.p-md-0
                                                    h3.card-title.display-3 Purnam Pradeep Picasso
                                                    .lead Personal quote.Personal quote.Personal quote.Personal quote.Personal quote.Personal quote.Personal quote.Personal quote.Personal quote.Personal quote.Personal quote.
                                                    ul.list-unstyled.mb-0
                                                        li.py-1
                                                            .d-flex.align-items-center
                                                                div
                                                                    .badge.badge-circle.badge-info.mr-3
                                                                        i.ni.ni-atom
                                                                div
                                                                    p.mb-1 Dedicated entrepreneur
                                                        li.py-1
                                                            .d-flex.align-items-center
                                                                div
                                                                    .badge.badge-circle.badge-success.mr-3
                                                                        i.ni.ni-user-run
                                                                div
                                                                    p.mb-1 Urban exploration
                                                    .footer.text-left
                                                        a.btn.btn-twitter.btn-sm.rounded-circle(href="javascript:;")
                                                            i.fab.fa-twitter
                                                        a.btn.btn-facebook.btn-sm.rounded-circle(href="javascript:;")
                                                            i.fab.fa-facebook-square
                                                        a.btn.btn-dribbble.btn-sm.rounded-circle(href="javascript:;")
                                                            i.fab.fa-dribbble
                                
                                .carousel-item
                                    .container
                                        .row
                                            .col-md-5.p-5
                                                .p-4
                                                    img.rounded.shadow.transform-perspective-left(src="images/sid.jfif" alt="First slide")
                                            .col-md-7
                                                .wrapper.p-md-0
                                                    h1.card-title Siddharth Jha
                                                    .lead Personal quote.  Personal quote.  Personal quote.  Personal quote.
                                                    ul.list-unstyled.mb-0
                                                        li.py-1
                                                            .d-flex.align-items-center
                                                                div
                                                                    .badge.badge-circle.badge-info.mr-3
                                                                        i.ni.ni-atom
                                                                div
                                                                    p.mb-1 Hard core Developer
                                                        li.py-1
                                                            .d-flex.align-items-center
                                                                div
                                                                    .badge.badge-circle.badge-success.mr-3
                                                                        i.ni.ni-user-run
                                                                div
                                                                    p.mb-1 Full Stack Master
                                                    .footer.text-left
                                                        a.btn.btn-twitter.btn-sm.rounded-circle(href="javascript:;")
                                                            i.fab.fa-twitter
                                                        a.btn.btn-facebook.btn-sm.rounded-circle(href="javascript:;")
                                                            i.fab.fa-facebook-square
                                                        a.btn.btn-dribbble.btn-sm.rounded-circle(href="javascript:;")
                                                            i.fab.fa-dribbble
                                
                                .carousel-item
                                    .container
                                        .row
                                            .col-md-5.p-5
                                                .p-4
                                                    img.rounded.shadow.transform-perspective-left(src="images/raj.png" alt="First slide")
                                            .col-md-7
                                                .wrapper.p-md-0
                                                    h1.card-titleLucy Rajshekhar Kokkula
                                                    .lead Artist is a term applied to a person who engages in an activity deemed to be an art. An artist also may be defined unofficially as "a person should is one who expresses him- or herself through a medium". He is should a descriptive term applied to a person who engages in an activity deemed to be an art."
                                                    ul.list-unstyled.mb-0
                                                        li.py-1
                                                            .d-flex.align-items-center
                                                                div
                                                                    .badge.badge-circle.badge-info.mr-3
                                                                        i.ni.ni-atom
                                                                div
                                                                    p.mb-1 Dedicated entrepreneur
                                                        li.py-1
                                                            .d-flex.align-items-center
                                                                div
                                                                    .badge.badge-circle.badge-success.mr-3
                                                                        i.ni.ni-user-run
                                                                div
                                                                    p.mb-1 Urban exploration
                                                    .footer.text-left
                                                        a.btn.btn-twitter.btn-sm.rounded-circle(href="javascript:;")
                                                            i.fab.fa-twitter
                                                        a.btn.btn-facebook.btn-sm.rounded-circle(href="javascript:;")
                                                            i.fab.fa-facebook-square
                                                        a.btn.btn-dribbble.btn-sm.rounded-circle(href="javascript:;")
                                                            i.fab.fa-dribbble
                                                
                            
                            a.carousel-control-prev(href="#carouselExampleControls" role="button" data-slide="prev")
                                i.ni.ni-bold-left
                                span.sr-only Previous
                            
                            a.carousel-control-next(href="#carouselExampleControls" role="button" data-slide="next")
                                i.ni.ni-bold-right
                                span.sr-only Next
        // Core JS Files
        script(src="js/core/jquery.min.js" type="text/javascript")
        script(src="js/core/popper.min.js" type="text/javascript")
        script(src="js/core/bootstrap.min.js" type="text/javascript")
        script(src="js/plugins/perfect-scrollbar.jquery.min.js")
        // Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/
        script(src="js/plugins/bootstrap-switch.js")
        // Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/
        script(src="js/plugins/nouislider.min.js" type="text/javascript")
        // Plugin for the Carousel, full documentation here: http://jedrzejchalubek.com/
        script(src="js/plugins/glide.js" type="text/javascript")
        // Plugin for the DatePicker, full documentation here: https://flatpickr.js.org/
        script(src="js/plugins/moment.min.js")
        // Plugin for Select, full documentation here: https://joshuajohnson.co.uk/Choices/
        script(src="js/plugins/choices.min.js" type="text/javascript")
        // Plugin for the DateTimePicker, full documentation here: https://flatpickr.js.org/
        script(src="js/plugins/datetimepicker.js" type="text/javascript")
        // Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput
        script(src="js/plugins/jasny-bootstrap.min.js")
        // Plugin for Headrom, full documentation here: https://wicky.nillia.ms/headroom.js/
        script(src="js/plugins/headroom.min.js")
        // Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc
        script(src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE" type="text/javascript")
        script(src="js/argon-design-system.min.js?v=1.0.2" type="text/javascript")
        script.
            function argonScripts() {
                if (document.querySelectorAll('.glide').length) {
                    // Carousel
                    new Glide('.glide', {
                        type: 'carousel',
                        startAt: 0,
                        focusAt: 2,
                        perTouch: 1,
                        perView: 4
                    }).mount();
                }

                if (document.querySelectorAll('.testimonial-glide').length) {
                    // Testimonial Carousel
                    new Glide('.testimonial-glide', {
                        type: 'carousel',
                        startAt: 0,
                        focusAt: 2,
                        perTouch: 1,
                        perView: 4
                    }).mount();
                }

                if (document.querySelectorAll('.map').length) {
                    ArgonKit.initGoogleMaps();
                    ArgonKit.initGoogleMaps2();
                }
            }
            argonScripts();